1) Demonstrate how to import Pandas and check the version of the installation.

In [82]:
import pandas as pd

2) Transform this list, numpy array, and dictionary into a series.

In [83]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

3) Convert the index of your previous series into a column of the dataframe.

4) Combine the series below into one dataframe.

In [84]:
import numpy as np
import pandas as pd
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

5) Give the series below a name.

In [85]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

6) Find the elements in the first series (ser1) not in the second series (ser2).

In [86]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1, ser2

(0    1
 1    2
 2    3
 3    4
 4    5
 dtype: int64,
 0    4
 1    5
 2    6
 3    7
 4    8
 dtype: int64)

7) Find the elements in both series that are not in common (remove them if they exist in both).

In [87]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

8) Find the minimum, max, 25th percentile, and 75th percentile in the series.

In [88]:
ser = pd.Series(np.random.normal(10, 5, 25))

9) Obtain the count of each unique item in the series.

In [89]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

10) Keep the two most frequent items in the series and change all items that are not those two into "Other".

In [90]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

11) Bin the series below into 10 equal deciles and replace the values with the bin name.

In [91]:
ser = pd.Series(np.random.random(20))

12) Reshape the series ser into a dataframe with 7 rows and 5 columns.

In [92]:
ser = pd.Series(np.random.randint(1, 10, 35))

13) Find the positions of numbers that are multiples of 3 from ser.

In [93]:
ser = pd.Series(np.random.randint(1, 10, 7))

14) From ser, extract the items at positions in list pos.

In [94]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

15) Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [95]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

16) Get the positions of items of ser2 in ser1 as a list.

In [96]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

17) Compute the mean squared error of truth and pred series.

In [97]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

18) Change the first character of each word to upper case in each word of ser.

In [98]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

19) Caluculate the number of characters for each element in the series.

In [99]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

20) Caluculate the difference of differences between the consequtive numbers of ser.

In [100]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

21) Convert the date-strings to a timeseries.

In [101]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

22) Get the day of month, week number, day of year and day of week from ser.

In [102]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

23) Change ser to dates that start with 4th of the respective months.

In [103]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

24) From ser, extract words that contain at least 2 vowels.

In [104]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

25) Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [105]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

#ser[ser.str.count(pat=r'[AaEeIiOoUu]') >=2]
emails.str.match(pat=pattern)
emails[emails.str.match(pat=pattern)]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

26) Compute the mean of weights of each fruit.

In [106]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#examples
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

print(weights.groupby(fruit).mean())

df = pd.concat([fruit, weights], axis=1)
print(df.groupby(fruit).mean())

print(df)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'apple', 'apple', 'banana', 'apple', 'banana', 'banana', 'carrot', 'banana', 'banana']
apple     3.333333
banana    7.200000
carrot    4.500000
dtype: float64
               1
apple   3.333333
banana  7.200000
carrot  4.500000
        0     1
0  carrot   1.0
1   apple   2.0
2   apple   3.0
3  banana   4.0
4   apple   5.0
5  banana   6.0
6  banana   7.0
7  carrot   8.0
8  banana   9.0
9  banana  10.0

27) Compute the euclidean distance between series (points) p and q, without using a packaged formula.

In [107]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

print(sum((p-q)**2)**.5)

#dist = np.sqrt(np.sum([(a-b)*(a-b) for a, b in zip(p,q)]))
dist = np.sqrt(np.sum([(p-q)*(p-q)]))
print(dist)

18.16590212458495
18.16590212458495

In [108]:
#ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
ser = pd.Series([2, 10, 3, 2, 9, 10, 2, 7, 3])

#ser.diff().where(ser.diff()<0).dropna().index-1
ser.index.where(ser.diff()<0)

Float64Index([nan, nan, 2.0, 3.0, nan, nan, 6.0, nan, 8.0], dtype='float64')

28) Get the positions of peaks (values surrounded by smaller values on both sides) in ser.

In [109]:
#ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
ser = pd.Series([2, 10, 3, 2, 9, 10, 2, 7, 3])

#ser.diff().where(ser.diff()<0).dropna().index-1
#ser.index.where(ser.diff()<0)

""" dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs """
print(np.diff(ser))
print(np.sign(np.diff(ser)))
dd= np.diff(np.sign(np.diff(ser)))
print(dd)
peak_locs = np.where(dd == -2)[0] + 1
print(peak_locs)

[ 8 -7 -1  7  1 -8  5 -4]
[ 1 -1 -1  1  1 -1  1 -1]
[-2  0  2  0 -2  2 -2]
[1 5 7]

29) Replace the spaces in my_str with the least frequent character.

In [110]:
my_str = 'dbc deb abed gade'

char = pd.Series(list(my_str)).value_counts().index[-1]
my_str = my_str.replace(' ', char)
my_str

'dbcgdebgabedggade'

30) Create a timeseries starting at ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values.

In [111]:

ser = pd.date_range('2000-01-01', periods=10, freq='W-SAT')
ser = pd.Series(np.random.randint(1,10,10), ser)
ser

2000-01-01    9
2000-01-08    2
2000-01-15    1
2000-01-22    5
2000-01-29    7
2000-02-05    7
2000-02-12    6
2000-02-19    8
2000-02-26    4
2000-03-04    5
Freq: W-SAT, dtype: int32

31) Series ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

In [112]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
""" print(ser.index[0])
print(pd.date_range(start=ser.index[0], freq='D' , end=ser.index[-1]))
print(ser) """
#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64
print(ser.resample('D').ffill())
ser.resample('2D').first()

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

2000-01-01     1.0
2000-01-03    10.0
2000-01-05     3.0
2000-01-07     NaN
Freq: 2D, dtype: float64

32) Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.

In [113]:
r = np.random.normal(1, 10, 20)
print(r)
ser = pd.Series(np.arange(20) + r)
ser2 = []
for i in range(11):
    ser2.append(ser.autocorr(i))

print(ser2)
mx = max(ser2[1:])

""" autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1) """

[ -5.65146128  12.83965876   1.73754849 -16.39944587   0.42485632
 -15.5213042  -13.39043961  -6.66344109  14.60608306   3.80663382
 -12.75082704  -8.13020576  12.46765395  -1.04680554   6.99304223
  -5.25645626  10.92235642  -1.77657289   3.0129649   -3.96046826]
[1.0, 0.337039714573832, 0.2664088297949457, 0.28223161895125093, 0.4704928038660713, 0.1999256831078193, 0.17791501838756066, 0.2858685879363949, 0.2925983737237275, -0.34467606458712713, 0.14915709972903787]

" autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]\nprint(autocorrelations[1:])\nprint('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1) "

33) Import every 50th row of BostonHousing dataset as a dataframe.
    https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

In [122]:
path = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
df= pd.read_csv(path)
df1 = pd.read_csv(path, skiprows=lambda x : x%50 != 0)
print(df.iloc[[49,99,149,199]])
print(df1)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
49   0.21977   0.0   6.91     0  0.448  5.602  62.0  6.0877    3  233
99   0.06860   0.0   2.89     0  0.445  7.416  62.5  3.4952    2  276
149  2.73397   0.0  19.58     0  0.871  5.597  94.9  1.5257    5  403
199  0.03150  95.0   1.47     0  0.403  6.975  15.3  7.6534    3  402

     ptratio       b  lstat  medv
49      17.9  396.90  16.20  19.4
99      18.0  396.90   6.19  33.2
149     14.7  351.85  21.45  15.4
199     17.0  396.90   4.56  34.9
      crim  zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.21977   0   6.91     0  0.448  5.602  62.0  6.0877    3  233     17.9
1  0.06860   0   2.89     0  0.445  7.416  62.5  3.4952    2  276     18.0
2  2.73397   0  19.58     0  0.871  5.597  94.9  1.5257    5  403     14.7
3  0.03150  95   1.47     0  0.403  6.975  15.3  7.6534    3  402     17.0
4  0.19073  22   5.86     0  0.431  6.718  17.5  7.8265    7  330     19.1
5  0.05561  70   2.24     0  0.400  7.041  10.0  7.8278    5  358     14.8
6  0.02899  40   1.25     0  0.429  6.939  34.5  8.7921    1  335     19.7
7  9.91655   0  18.10     0  0.693  5.852  77.8  1.5004   24  666     20.2
8  7.52601   0  18.10     0  0.713  6.417  98.3  2.1850   24  666     20.2
9  0.17783   0   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2

        b  lstat  medv
0  396.90  16.20  19.4
1  396.90   6.19  33.2
2  351.85  21.45  15.4
3  396.90   4.56  34.9
4  393.74   6.56  26.2
5  371.58   4.74  29.0
6  389.85   5.89  26.6
7  338.16  29.97   6.3
8  304.21  19.31  13.0
9  395.77  15.10  17.5

34) Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

In [137]:
df["new_medv"] = df["medv"].where(df["medv"] > 25, "Low")
df["new_medv"] = df["new_medv"].where(df["medv"] <= 25, "High")
df.head(10)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,new_medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,Low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,Low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,High
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,High
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,High
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7,High
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9,Low
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1,High
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5,Low
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9,Low

35) Create a dataframe with rows as strides from the series "L".

In [155]:
L = pd.Series(range(15))

def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]], dtype=int64)

In [154]:
L = pd.Series(range(15))
print(type(L))
arr = np.reshape(L, 15)

print(type(arr))
# arr.strides[4,6]

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

36) Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

In [158]:

df2 = df[["crim", "medv"]]
df2

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

37) Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv

In [165]:
path='https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
cars93 = pd.read_csv(path)
# cars93.info()
print(type(cars93.to_numpy()))
# cars93.values.tolist()

<class 'numpy.ndarray'>

38) Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?

39) Rename the column "Type" as "CarType" in the previous data and replace the ‘.’ in column names with ‘_’.

40) Check if the data from #37 has any missing values.

41) Count the number of missing values in each column of the previous data. Which column has the maximum number of missing values?

42) Replace missing values in Min.Price and Max.Price columns with their respective mean.

43) In the previous data, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

44) Get the first column (a) in the data as a dataframe (rather than as a Series).

45) Actually 3 questions.

In the data, interchange columns 'a' and 'c'.

Create a generic function to interchange two columns, without hardcoding column names.

Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

In [117]:
# Experimenting Code ************************************
df = pd.DataFrame(np.arange(20).reshape(-1,5), columns=list('abcde'))
# print(df)
col1 = df.ix[:,1]
col3 = df.iloc[:,2:3]
print(col1)
print(col3)
df['a'] = df['c'].copy()
# df['a'] = col
print(col3)
print(df)

AttributeError: 'DataFrame' object has no attribute 'ix'

In [ ]:
# Working Code ***************************
df = pd.DataFrame(np.arange(20).reshape(-1,5), columns=list('abcde'))
print(df)
q = df[["a"]]
r = df[["c"]]

df[["a"]] = r
df[["c"]] = q

df.rename(columns={"a":"c","c":"a"}, inplace=True)
print(df)

46) Change the pandas display settings on printing the dataframe so it shows a maximum of 10 rows and 10 columns.

47) Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

48) Format the values in column 'random' of df as percentages.

In [ ]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
df
percent = df['random'].mul(100).round(2).astype(str)+"%"
print(percent)
percent = df['random'].mul(100).round(2).to_string()+"%"
print(percent)
# percent.astype(str)+'%'
# percent.astype(str)+'%'

#>      random
#> 0    .689723
#> 1    .957224
#> 2    .159157
#> 3    .21082

49) From the cars data, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

50) In the cars data, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

51) Find the row position of the 5th largest value of column 'a' in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

52) In ser, find the position of the 2nd largest value greater than the mean.

In [ ]:
ser = pd.Series(np.random.randint(1, 100, 15)).astype("float")
m=ser.astype("float").mean().round()
print(m)

s = pd.Series(sorted(ser.astype("float")))
# print(s)

val_grt_mean = pd.Series(s.where(s > m).dropna()).astype("float")
v = val_grt_mean.iloc[1]
print(v)

print(ser[ser.values==v].index)
print(ser[ser==v].index)
print(ser)

53) Get the last two rows of df whose row sum is greater than 100.

In [ ]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

54) Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

In [ ]:
ser = pd.Series(np.logspace(-2, 2, 30))

55) Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be. The order of the positive numbers in the result should remain the same as the original.

In [ ]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

56) Swap rows 1 and 2 in df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

57) Reverse all the rows of dataframe df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

58) Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

59) Obtain the column name with the highest number of row-wise maximum’s in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

60) Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df
#     p   q   r   s
# a  57  77  13  62
# b  68   5  92  24
# c  74  40  18  37
# d  80  17  39  60
# e  93  48  85  33
# f  69  55   8  11
# g  39  23  88  53
# h  63  28  25  61
# i  18   4  73   7
# j  79  12  45  34

61) Compute maximum possible absolute correlation value of each column against other columns in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

62) Compute the minimum-by-maximum for every row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

63) Create a new column 'penultimate' which has the second largest value of each row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

64) Normalize all columns of df by subtracting the column mean and divide by standard deviation.
Range all columns of df such that the minimum value in each column is 0 and max is 1.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

65) Compute the correlation of each row of df with its succeeding row.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

66) Replace both values in both diagonals of df with 0.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df
#     0   1   2   3   4   5   6   7   8   9
# 0  11  46  26  44  11  62  18  70  68  26
# 1  87  71  52  50  81  43  83  39   3  59
# 2  47  76  93  77  73   2   2  16  14  26
# 3  64  18  74  22  16  37  60   8  66  39
# 4  10  18  39  98  25   8  32   6   3  29
# 5  29  91  27  86  23  84  28  31  97  10
# 6  37  71  70  65   4  72  82  89  12  97
# 7  65  22  97  75  17  10  43  78  12  77
# 8  47  57  96  55  17  83  61  85  26  86
# 9  76  80  28  45  77  12  67  80   7  63

67) Using a key in a grouped data frame. From df_grouped, get the group belonging to 'apple' as a dataframe.

In [ ]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

68) In df, find the second largest value of 'taste' for 'banana'

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

69) In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

70) Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

71) Get the positions where the value of two columns match.

In [ ]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

72) Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

    a   b   c   d
0  66  34  76  47
1  20  86  10  81
2  75  73  51  28
3   1   1   9  83
4  30  47  67   4

73) Get the frequency of unique values in the entire dataframe df.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

74) Split the string column in df to form a dataframe with 3 columns as shown.

In [ ]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

print(df)